<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Alex Ivanov Portfolio</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- local relative link .css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">


    <!-- CDN Google-Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

</head>

<body>

    <!-- general <header> wrapper -->
    <header id="header" class="header">

        <!-- theme switch -->
        <div class="theme-switcher-wrapper">
            <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input" />
            <label for="themeSwitch" class="theme-switch__label">
                <span class="circle"></span>
            </label>
        </div>

        <div class="header-box">
            <!-- like jumbotron :) -->
            <div class="main-elements">
                <div class="neon-line green"></div>
                <div class="jumbotron">
                    <p>my name is</p>
                    <!-- Animation "Writing Text" -->
                    <div class="anime-wrapper">
                        <h1 class="animated-title anime-no-delay">Alexander Ivanov</h1>
                        <h2 class="animated-title anime-delay">a Full-Stack Web Developer</h2>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <!-- navbar -->
    <div class="navbar">

        <!-- logo wrapper -->
        <div class="logo-box">
            <a href="#header">
                <img id="logo-img" class="logo" src="{% static 'img/logo-ivanov-white.png' %}"
                    alt="white Alexander's logo">
            </a>
        </div>

        <!-- links wrapper -->
        <div class="menu-wrap">

            <!-- hidden -->
            <input type="checkbox" class="menu-btn" id="id-menu-btn" checked>

            <!-- links <ul> -->
            <ul class="menu">
                <li><a href="#header">Start</a></li>
                <li><a href="#div-about">About</a></li>
                <li><a href="#">Skills</a></li>
            </ul>

            <!-- menu icon -->
            <label class="menu-icon" for="id-menu-btn">
                <!-- the true icon -->
                <span class="nav-icon"></span>
            </label>
        </div>

    </div>

    <div class="div-container-body">

        <div class="div-sub-container" id="div-about">

            <div class="about-image-wrap">
                <img class="about-image" src="{% static 'img/alexander_foto.png' %}"
                    alt="Alexander's foto in white shirt with a cool haircut">
                <img class="decor-after" src="{% static 'img/about-sub-element-after.svg' %}"
                    alt="just a blue stain to decorate the main photo">
            </div>

            <div class="text-wrap">
                <h2>About</h2>
                <p>My journey began as a passionate cook, where I honed my skills in the culinary arts and built an
                    excellent career. However, my love for programming ignited a fire within me, leading me to embark on
                    an
                    exciting new path.</p>
                <p>I'm a skilled cook turned self-taught programmer with a passion for full-stack web development. While
                    still working as a chef, I've dedicated my free time to studying programming through Udemy courses,
                    bootcamps and, the most important, practice. In just six months, I've gained a solid foundation and
                    now
                    specialize in building websites.</p>
                <p>With a unique blend of culinary expertise and programming skills, I bring a fresh perspective to
                    every
                    project. I love solving problems and creating seamless user experiences. Let's collaborate and build
                    something incredible together!</p>
                <hr>
                <input type="button" class="button" value="Hire Me">
            </div>

        </div>

        <div class="div-sub-container" id="div-how">
            <h3>How di I get here from kitchen to web developer?</h3>
        </div>

        <div class="div-sub-container">

            <div style="display: flex; 
                        align-items: center;
                        justify-content: center;">
                <h1>Card Prototype ^.^</h1>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img class="card-image" src="{% static 'img/alexander_foto.png' %}"
                        alt="Alexander's foto in white shirt with a cool haircut">
                </div>
                <div class="card">
                    <img class="card-image" src="{% static 'img/alexander_foto.png' %}"
                        alt="Alexander's foto in white shirt with a cool haircut">
                </div>
                <div class="card">
                    <img class="card-image" src="{% static 'img/alexander_foto.png' %}"
                        alt="Alexander's foto in white shirt with a cool haircut">
                </div>
            </div>
        </div>

    </div>



    {% block body_block_01 %}
    {% endblock %}







    <script src="{% static 'js/main_script.js' %}"></script>
    <script>

        ////////////////////////
        //// Theme Switcher ////
        ////////////////////////

        let themeSwitcher = document.getElementById("themeSwitch");
        let logoImage = document.getElementById("logo-img");

        themeSwitcher.onclick = function () {
            document.body.classList.toggle("light-theme");
            /*             if (document.body.classList.contains("light-theme")) {
                            logoImage.src = "{% static 'img/logo-ivanov-black.png' %}";
                        } else {
                            logoImage.src = "{% static 'img/logo-ivanov-white.png' %}";
                        } */
        };


        //////////////////////////////////////
        //// Header Animations Bug Fixing ////
        //////////////////////////////////////

        // Add a delay before applying the animation on the delayed element
        // ELEMENT: <h2 class="animated-title anime-delay">a Full-Stack Web Developer</h2>
        setTimeout(function () {
            document.querySelector('.anime-delay').style.borderRight = '4px solid var(--clr-flashing-border)';
        }, 5000); // Adjust the delay time as needed

    </script>
</body>

</html>