<!DOCTYPE html>
{% extends 'portfolio/base.html'%}



{% block body_block_01 %}

    <div>

        
    </div>


    <div >


        <div >
            <h2>Skills</h2>

            <h5>FrontEnd Technologies</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione porro aspernatur velit aliquam.</p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>jQuery</li>
            </ul>

            <h5>Backend Technologies</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione porro aspernatur velit aliquam.</p>
            <ul>
                <li>Python</li>
                <li>Django</li>
            </ul>
        </div>


        <div>
            <h3>About</h2>

            <div>
                <h2>creativity</h2>
                <p>Highlight your ability to think outside the box and come up with creative solutions to problems.</p>
            </div>
            

            <div >
                <h2> passion for learning</h2>
                <p>Show your dedication to keeping up with the latest technologies and tools, demonstrating your ability to learn quickly and continually improve your skills.</p>        
                <p>Dedicated to staying up-to-date with the latest web development technologies and tools. Continuously improving my skills through online courses and personal projects.</p>
            </div>
            
            <div >
                <h2>Organization</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, voluptas. Reiciendis amet obcaecati nisi magnam animi cupiditat...</p>
            </div>
        </div>

        <p>{% lorem 5 b random %}</p>

    </div>

{% endblock  %}
