/*/////////
// INDEX //
/////////*/

/*//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

- color themes
- general style
- header
    -- theme switcher
    -- neon inside jumbotron    
- navbar
    -- logo
    -- links
    -- label
- @media    small screens responsive
- @media    big screens responsive
- @media    when hover is supported
- @media    when hover is NOT supported (using :active)
- body
    -- about
    -- definition of coder
    -- cards
- footer

////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////*/





/*////////////////
// color themes //
////////////////*/

:root {

    --size-font-p: calc(1rem + 0.3vw);
    --size-font-h2: calc(1.875rem + 0.3vw);

    /* this is the default dark theme: */

    /* <body> background colors */
    --clr-body-bg-1: #181818;
    --clr-body-bg-2: #080620;

    /* <header> colors */
    --clr-header-bg-1: #051121;
    --clr-header-bg-2: #233b46;
    --clr-header-title: var(--clr-menu-links);

    /* main colors */
    --clr-primary-text: #e9ecef;
    --clr-secondary-text: #181818;
    --clr-jumbotron-p: #8fbc8f;
    --clr-flashing-border: #ffa500;
    --clr-card-border: #5411d1;
    --clr-card-border-hover: #0adff2;
    --clr-card-bg-clr: #181818;
    --clr-hr: #5a0fd4;

    /* theme switcher */
    --clr-theme-switcher-bg: #F5DEB3;
    --clr-theme-switcher-cicle: #051121;
    --clr-theme-switcher-shadow: rgb(245 222 178 / 40%);

    /* neon */
    --clr-neon-1: #29cf21;
    --clr-neon-2: #00a4d9;
    --clr-neon-3: #2751c7;

    /* navbar */
    --clr-navbar-bg-1: #181818;
    --clr-navbar-bg-2: #121924;
    --clr-navbar-bg-3: #0e141c;
    --clr-navbar-box-shadow: rgb(0 0 0 / 30%);
    --clr-menu-links: #F5DEB3;
    --clr-ul-menu-bg: rgba(2, 28, 36, 0.8);
    --clr-ul-menu-shadow: rgba(0, 0, 0, 30%);
    --clr-ul-menu-Rborder: #254757;
    --clr-nav-icon: #a9a9a9;
    --clr-media-hover-menu-li-hover: rgba(37, 71, 87, 0.4);
    /* --clr-media-hover-menu-li-hover-blur: rgba(0, 173, 253, 1); */
    --clr-media-not-hover-menu-li-active: rgba(37, 71, 87, 0.7);

    /* footer */
    --clr-bg-footer: #12174f;
    --clr-footer-hr-middle: rgb(131, 131, 164);
    --clr-footer-hr-left-right: rgba(211, 221, 223, 0.01);

}

.light-theme {
    /* <body> background colors */
    --clr-body-bg-1: #fcfcfc;
    --clr-body-bg-2: #e6e6e6;

    /* <header> colors */
    --clr-header-bg-1: #FBAB7E;
    --clr-header-bg-2: #F7CE68;
    --clr-header-title: #152a63;

    /* main colors */
    --clr-primary-text: #181818;
    --clr-secondary-text: #181818;
    --clr-jumbotron-p: #138913;
    --clr-flashing-border: #051121;
    --clr-card-border: #5411d1;
    --clr-card-border-hover: #11c1d1;
    --clr-card-bg-clr: #e7e7e7;
    --clr-hr: #5a0fd4;

    /* theme switcher */
    --clr-theme-switcher-bg: #051121;
    --clr-theme-switcher-cicle: #F5DEB3;
    --clr-theme-switcher-shadow: rgb(0 120 188 / 40%);

    /* neon */

    /*     --clr-neon-1: #29cf21;
    --clr-neon-2: #00a4d9;
    --clr-neon-3: #2751c7; */
    --clr-neon-1: #00ff1c;
    --clr-neon-2: #21e0ff;
    --clr-neon-3: #eb00ff;

    /* navbar */
    --clr-navbar-bg-1: #181818;
    --clr-navbar-bg-2: #121924;
    --clr-navbar-bg-3: #0e141c;
}





/*/////////////////
// general style //
/////////////////*/

* {
    margin: 0;
    padding: 0;

    /* Removes blue background when clicking on a link or icon on phone */
    -webkit-tap-highlight-color: transparent;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    /* background-image: linear-gradient(to bottom, var(--clr-body-bg-1), var(--clr-body-bg-2), var(--clr-body-bg-3), var(--clr-body-bg-4), var(--clr-body-bg-5)); */
    background-color: var(--clr-body-bg-1);
    background-image: linear-gradient(180deg, var(--clr-body-bg-1) 30%, var(--clr-body-bg-2) 100%);
    color: var(--clr-primary-text);
}

p {
    font-size: var(--size-font-p);
}

h2 {
    font-size: var(--size-font-h2);
}

button,
select,
textarea,
input {
    font-family: inherit;
    /* eredita dal sito e non da browser */
    font-size: 100%;
    /* da parent element */

    box-sizing: border-box;
    /* ripartire da capo con box-sizing */
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
    /* per evitare che I.Explorer mette la scroll bar inutile */
}



/*//////////
// HEADER //
//////////*/

.header {
    background-color: var(--clr-header-bg-1);
    background-image: linear-gradient(180deg, var(--clr-header-bg-1) 0%, var(--clr-header-bg-2) 100%);
    width: 100%;
    height: 100vh;
    /* margin-bottom: 5rem; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .header-box {
    /* border: 1px solid yellow; */

    flex-grow: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15%;

    /* color: wheat; */
    color: var(--clr-header-title);
}

.header .header-box .main-elements {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header .header-box .jumbotron {
    background-color: inherit;
    margin: 0;
    border-radius: 0;
    background-color: inherit;
    margin: 0;
}

.header .header-box .jumbotron .anime-wrapper h1 {
    margin-top: 1rem;
    font-size: calc(1rem + 2.5vw);
}

.header .header-box .jumbotron .anime-wrapper h2 {
    font-size: calc(0.45rem + 2.5vw);
}

.header .header-box .jumbotron p {
    color: var(--clr-jumbotron-p);
    font-size: calc(0.7rem + 1.3vw);
}





/* Theme Switcher */

.header .theme-switcher-wrapper {
    align-self: flex-end;
    margin-top: 5%;
    margin-right: 5%;
}

.theme-switcher-wrapper .theme-switch__input {
    display: none;
}

.theme-switcher-wrapper .theme-switch__label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switcher-wrapper .theme-switch__label .circle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-theme-switcher-bg);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0px 0px 8px 6px var(--clr-theme-switcher-shadow);
}

.theme-switcher-wrapper .theme-switch__label .circle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--clr-theme-switcher-cicle);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.theme-switcher-wrapper .theme-switch__input:checked~.theme-switch__label .circle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}





/* NEON INSIDE THE JUMBOTRON */

.neon-line {
    margin-right: 1.5rem;
    height: 30vh;
    width: 8px;
    border-radius: 10px;
    position: relative;
    z-index: 8;
    filter: blur(2px);
}

.neon-line.green {
    /* background-image: linear-gradient(to bottom, #29cf21, #00be8e, #00a4d9, #0081f0, #2751c7); */
    background-color: var(--clr-neon-1);
    /* background-color: var(--clr-body-bg-1); */
    background-image: linear-gradient(180deg, var(--clr-neon-1) 12%, var(--clr-neon-2) 55%, var(--clr-neon-3) 86%);
}

.neon-line::before {
    content: ' ';
    /* Position it behind the parent. */
    z-index: 7;
    position: absolute;
    top: -10px;
    right: -5px;
    bottom: -10px;
    left: -5px;

    /* Inherit the background and border radius of the parent. */
    background: inherit;
    border-radius: inherit;

    /* Blur it for maximum shadowy-ness. */
    filter: blur(15px);

    /* Hide the shadow until the element is hovered over. */
    opacity: 0;
    transition: opacity 0.2s ease;
}







/*//////////
// NAVBAR //
//////////*/

.navbar {
    height: calc(3rem + 1.5vh);
    width: 100%;
    padding: 0;
    z-index: 20;

    background-color: var(--clr-navbar-bg-1);
    background-image: linear-gradient(180deg, var(--clr-navbar-bg-1) 10%, var(--clr-navbar-bg-2) 50%, var(--clr-navbar-bg-3) 100%);

    box-shadow: 0px 0px 6px 4px var(--clr-navbar-box-shadow);

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    position: sticky;
    top: 0;
}

.navbar a {
    color: var(--clr-menu-links);
    font-weight: bold;
    text-decoration: none;
}


/* LOGO */

.navbar .logo-box {
    margin-left: 0.5rem;
    transition: margin-left 0.6s ease;
}

/* .navbar .logo-box a  */
.logo-box a {
    text-decoration: none;
    display: block;
}


/* .navbar .logo-box .logo */
.logo {
    min-width: 7rem;
    width: 100%;
    max-width: 10rem;
    padding: 0;
    /* filter: drop-shadow(1px 2px 2px); */
}





/* LINKS */

.navbar .menu-wrap {
    /* border: 1px solid paleturquoise; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
    transition: margin-right 0.6s ease;
}

.navbar .menu-wrap .menu

/* <ul> */
    {
    margin: 0;
    padding: 0;
    list-style: none;
    /* togliere bullets */
    text-decoration: none;
    /* togliamo tutte le decorazioni */
    background-color: var(--clr-ul-menu-bg);
    overflow: hidden;
    /* height: 8rem; */


    border-right: 0.2rem solid var(--clr-ul-menu-Rborder);
    border-radius: 7px;
    /* max-height: 0; */
    transition: all 0.4s ease;
}

.navbar .menu-wrap .menu a {
    display: block;
    /* block -> elemento <a> occupa 100% di width e diventa clickabile non solo sul testo */
    padding: 0.5rem 2rem;
}




/* LABEL */

.navbar .menu-icon {
    margin: 0rem 0.5rem;
    padding: 1.2rem 0rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.navbar .menu-icon .nav-icon {
    background-color: var(--clr-nav-icon);
    display: block;
    /* position: absolute; */
    width: 1.7rem;
    height: 0.3rem;
    transition: background-color .2s ease-out;
}

.navbar .menu-icon .nav-icon::before,
.navbar .menu-icon .nav-icon::after {
    background-color: var(--clr-nav-icon);
    /* stesso colore di elemento principale */
    content: "";
    /* content e' vuoto perche' lo costruiamo col altezza e larghezza */
    display: block;
    height: 75%;
    /* 100% perche' fa riferimento all'elemento parent */
    width: 75%;
    transition: all .2s ease-out;
    /* transazione su tutto quando trasformiamo in una "X" */
    /* display: absolute; */
    position: relative;
}

.navbar .menu-icon .nav-icon::before {
    bottom: 0.5rem;
    left: 0.2rem
}

.navbar .menu-icon .nav-icon::after {
    top: 0.34rem;
    left: 0.2rem;
}

.navbar .menu-btn {
    display: none;
    /* nascondiamo la checkbox (il comportamento rimane) */
}





/*////////////////////////////
// SMALL SCREENS RESPONSIVE //
////////////////////////////*/

@media (max-width: 767px) {

    .navbar .menu-wrap .menu {
        max-height: 0;
        position: relative;
        top: 1.7rem;
    }

    .navbar .menu-btn:checked~.menu {
        max-height: 15rem;
        transition: max-height 0.5s ease;
        box-shadow: 0px 3px 6px 3px var(--clr-ul-menu-shadow);
    }

    .navbar .menu-btn:checked~.menu-icon .nav-icon {
        background-color: transparent;
        /* quando e' checkato nascondiamo elemento principale */
    }

    .navbar .menu-btn:checked~.menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        /* cosi viene rotato dal centro */
        top: 0px;
        left: 4px;
    }

    .navbar .menu-btn:checked~.menu-icon .nav-icon::after {
        transform: rotate(45deg);
        /* cosi viene rotato dal centro */
        top: -3px;
        left: 4px;
    }

}


/*/////////////////////////////////////////////////////////
/// ALL @MEDIA OF HEADER AND NAV FOR RESPONSIVE SCREENS ///
/////////////////////////////////////////////////////////*/




/*////////////////////////////
/// BIG SCREENS RESPONSIVE ///
////////////////////////////*/

@media (min-width: 48rem) {

    /* LOGO */

    .navbar .logo-box {
        margin-left: 6rem;
        transition: margin-left 0.6s ease;
    }

    /* LINKS */

    .navbar .menu-wrap {
        /* border: 1px solid paleturquoise; */
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 6rem;
        transition: margin-right 0.6s ease;
    }

    .navbar .menu-wrap .menu

    /* <ul> */
        {
        height: inherit;
        margin-bottom: 0;
        margin-right: 1rem;
        padding: 0;

        background-color: unset;
        transition: background-color 0s;
        list-style: none;
        /* togliere bullets */
        overflow: hidden;
        /* cosi' contenuto non esce fuori */
        height: inherit;
        border: unset;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
    }

    .navbar .menu-wrap .menu li {
        /* background-color: var(--clr-ul-menu-bg); */
        border-radius: 10px;
        height: 2.7rem;
        width: 5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar .menu-wrap .menu a {
        text-decoration: none;
        padding: 0.6rem 0.7rem;
    }




    /* LABEL */

    .navbar .menu-icon {
        transform: rotate(90deg);
        /* cosi viene rotato dal centro */
        transition: transform 0.5s ease;
        cursor: default;
    }
}

@media (min-width:360px) and (max-width: 767px) {

    .navbar .logo-box {
        margin-left: 2rem;
    }

}





/*/////////////////////////////
/// WHEN HOVER IS SUPPORTED ///
/////////////////////////////*/

@media (hover: hover) {

    .theme-switcher-wrapper .theme-switch__input:hover~.theme-switch__label .circle {
        box-shadow: 0px 0px 30px 15px var(--clr-theme-switcher-shadow);
    }

    .neon-line:hover::before {
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    .navbar .logo-box a:hover {
        background-color: none;
    }

    .navbar .menu-wrap .menu li:hover {
        background-color: var(--clr-media-hover-menu-li-hover);
        /* filter: drop-shadow(0px 0px 8px var(--clr-media-hover-menu-li-hover-blur)); */
        transition: all .4s ease;
    }
}



/*/////////////////////////////////
/// WHEN HOVER IS NOT SUPPORTED ///
/////////////////////////////////*/

@media not (hover: hover) {

    .theme-switcher-wrapper .theme-switch__input:active~.theme-switch__label .circle {
        box-shadow: 0px 0px 30px 15px var(--clr-theme-switcher-shadow);
    }

    .neon-line:active::before {
        opacity: 1;
        /* transition: opacity .1s ease; */
    }

    .navbar .logo-box a:active {
        background-color: none;
    }

    .navbar .menu-wrap .menu li:active {
        background-color: var(--clr-media-not-hover-menu-li-active);
        /* transition: all .1s ease; */
    }
}





/*//////////////////////////////////*/
/*////////////// BODY //////////////*/
/*//////////////////////////////////*/

/* Main Body */

.div-container-body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 8%;
    margin: 0 auto;
    max-width: 100vw;
    overflow: hidden;
}

.div-container-body .div-sub-container {
    z-index: 10;
    margin: 2rem 0;
    max-width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    /* just for debugging */
    border: 1px solid aquamarine;
}

@media (min-width: 48rem) {
    .div-container-body .div-sub-container {
        display: unset;
        margin: 4rem 0;
    }
}

.div-container-body .div-flex-sub-container {
    z-index: 10;
    margin: 2rem 0;
    max-width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    /* just for debugging */
    border: 1px solid rgb(216, 107, 152);
}





/* About */

.div-container-body .div-sub-container .about-image-wrap {
    /* object-fit: cover; */
    /* overflow: hidden; */
    line-height: 0;
    width: 16rem;
    /* width: 100%; */
    /* min-width: 8rem; */

    display: flex;
    flex-flow: row wrap;
    transition: all .3s ease;
    position: relative;
    top: 0;
    left: 0;
}

@media (min-width: 48rem) {
    .div-container-body .div-sub-container .about-image-wrap {
        float: right;
        margin-right: 8%;
        transition: all .3s ease;

        position: relative;
        top: 0;
        left: 0;
    }
}

.div-container-body .div-sub-container .about-image-wrap .about-image {
    z-index: 8;
    /* Ensure the image takes the full width  and height of the card */
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    position: relative;
    top: 0px;
    left: 0px;
}

.div-container-body .div-sub-container .about-image-wrap .decor-after {
    z-index: 9;
    position: absolute;
    max-width: 23rem;
    top: 20rem;
    right: -6rem;
    transform: rotate(-12deg);
}

.div-container-body .div-sub-container .text-wrap {
    margin-top: calc(0.5rem + 3vw);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    /* flex-grow: 2; */

    /* just for debugging */
    border: 1px solid yellowgreen;
}

.div-container-body .div-sub-container .text-wrap h2 {
    align-self: flex-end;
    position: relative;
    right: 5rem;
}

.div-container-body .div-sub-container .text-wrap hr {
    color: var(--clr-hr);
    width: 86%;
}


/* button */
.div-container-body .div-sub-container .text-wrap .button {
    align-self: flex-start;
    position: relative;
    left: 5rem;
    width: 6rem;
    height: 2rem;
    border: 2px solid var(--clr-hr);
    border-radius: 4px;
    transition: all 0.2s ease-in;
    overflow: hidden;
    color: var(--clr-secondary-text);
    z-index: 8;
    background-color: var(--clr-neon-2);
    margin-bottom: 2rem;
}

.div-container-body .div-sub-container .text-wrap .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.div-container-body .div-sub-container .text-wrap .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--clr-hr);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.div-container-body .div-sub-container .text-wrap .button:hover {
    color: var(--clr-primary-text);
    border: 2px solid var(--clr-hr);
}

.div-container-body .div-sub-container .text-wrap .button:hover:before {
    top: -35%;
    background-color: var(--clr-hr);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.div-container-body .div-sub-container .text-wrap .button:hover:after {
    top: -45%;
    background-color: var(--clr-hr);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}





/* Definition of coder */

.div-flex-sub-container .svg-img-wrap {
    max-width: 30rem;
    display: flex;

}

.div-flex-sub-container .svg-img-wrap .svg-img {
    object-fit: cover;
    width: 100%;
}

.div-flex-sub-container .text-flex-wrap {
    padding-top: 2rem;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}




/* Cards */

.card-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.card {
    border: 3px solid var(--clr-card-border);
    border-radius: 8px;
    background-color: var(--clr-card-bg-clr);
    /* object-fit: cover; */
    overflow: hidden;

    /* Try adding this line to reset line-height */
    line-height: 0;

    /* Try adding this line to reset vertical-align */
    /* vertical-align: middle; */

    /* Try adding this line to reset font-size */
    /* font-size: 0; */
}

.card:hover {
    /* transform: scale(120%); */
    filter: opacity(20%);
    border: 3px solid var(--clr-card-border-hover);
    transition: all 0.4s ease;
    overflow: hidden !important;
}

.card .card-image {
    width: 100%;
    /* Ensure the image takes the full width of the card */
    height: 100%;
    /* Ensure the image takes the full height of the card */
    object-fit: cover;
    /* Make sure the image covers the entire space without distortion */
    transition: all 0.4s ease;
}

.card:hover .card-image {
    transform: scale(1.25) translateY(120px);
    filter: grayscale(60%) blur(3px);
    /* Apply the grayscale effect on hover */
}






/*//////////////////////////////////*/
/*///////////// FOOTER /////////////*/
/*//////////////////////////////////*/
footer {
    width: 100vw;
    height: auto;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    position: relative;

}

.footer {
    /* overflow: hidden; */
    line-height: 0;
    height: auto;
    margin-top: 15rem;
}

.footer hr {
    border: 0;
    height: 1px;
    background: rgb(211, 221, 223);
    background: linear-gradient(90deg, var(--clr-footer-hr-left-right) 0%, var(--clr-footer-hr-middle) 49%, var(--clr-footer-hr-left-right) 100%);
    /* color: #00ff1c; */
}

.footer .footer-img {
    width: 100vw;
    object-fit: cover;

    position: relative;
    bottom: 12rem;
}

.footer .footer-content {
    width: 100vw;
    height: auto;
    padding-bottom: 5rem;
    overflow: hidden;
    background-color: var(--clr-bg-footer);
    line-height: initial;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: absolute;
    bottom: 0;
}

.footer .footer-content hr {
    width: 60%;
}

.footer .footer-content .footer-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;

    overflow: hidden;

}

.footer .footer-content .footer-links a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: var(--clr-menu-links);
}